* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header, .first-line {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.header {
    margin: 10px;
}
.first-line {
    display: flex;
    justify-content: space-between;
    width: 37%;
    margin: auto;
}
.form-wrapper {
    width: 80%;
    margin: auto;
}

.first-input {
    padding: 5px;
}

.wrapper {
    width: 70%;
    margin: auto;
    margin-top: 40px;
}